<div class="main-page">
  <div class="main-page__header-block">
    <div class="main-page__header">
      <img
        src="./../assets/logo.jpg"
        alt="Pizza Chef"
        class="main-page__logo"
      />

      <ul class="main-page__menu font-brown">
        <li class="main-page__menu-item">Пиццы</li>
        <li class="main-page__menu-item">Напитки</li>
        <li class="main-page__menu-item">Доставка и оплата</li>
        <li class="main-page__menu-item">Контакты</li>
      </ul>
    </div>
  </div>

  <div class="main-page__info-block">
    <div class="main-page__main-info">
      <h1 class="main-page__titles-block">
        <span class="font-brown"> Самая вкусная пицца в мире </span>
        <br />
        <span class="font-yellow"> Только в Pizza Chef </span>
      </h1>

      <div class="main-page__facts">
        <div class="main-page__fact">
          <img src="./../assets/wheet.jpg" alt="" />
          <div>
            <h3 class="font-yellow">Лучшее тесто</h3>
            <p class="font-brown">
              Мы создаём тесто только из отборной итальянской муки наивысшего
              качества
            </p>
          </div>
        </div>

        <div class="main-page__fact">
          <img src="./../assets/hat.jpg" alt="" />
          <div>
            <h3 class="font-yellow">Лучшие повара</h3>
            <p class="font-brown">
              Пиццы готовят самые профессиональные итальянские повара
            </p>
          </div>
        </div>

        <div class="main-page__fact">
          <img src="./../assets/guarantee.jpg" alt="" />
          <div>
            <h3 class="font-yellow">Гарантия качества</h3>
            <p class="font-brown">
              Наша пиццерия получила множество наград и признаний по всему миру
            </p>
          </div>
        </div>

        <div class="main-page__fact">
          <img src="./../assets/tray.jpg" alt="" />
          <div>
            <h3 class="font-yellow">Отборные рецепты</h3>
            <p class="font-brown">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </p>
          </div>
        </div>
      </div>

      <button class="_small">Выбрать пиццу</button>
    </div>

    <img
      src="./../assets/big-pizza.jpg"
      alt="Big Delicious Pizza"
      class="main-page__big-pizza"
    />
  </div>

  <div class="main-page__pizzas-block">
    <h2 class="main-page__choose-your-pizza font-brown">
      Выберите свою любимую пиццу
    </h2>
    <div class="main-page__pizzas">
      <div class="main-page__pizzas-one" *ngFor="let pizza of pizzas$ | async">
        <img
          src="./../assets/pizzas/{{ pizza.imgName }}.jpg"
          [attr.alt]="pizza.title"
          class="main-page__pizzas-one-img"
          zoomInPic
        />
        <h3>{{ pizza.title }}</h3>
        <p>{{ pizza.composition }}</p>
        <button>В корзину</button>
      </div>
    </div>
  </div>

  <div class="main-page__order-block">
    <div class="main-page__order-info">
      <h2 class="main-page__order-title">
        <span class="font-yellow"> Хватит думать! </span>
        <br />
        <span class="font-brown"> Доставим заказ за 30 минут </span>
      </h2>
      <p class="font-brown">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления
        заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ
        бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался
        голодный.
      </p>
    </div>

    <form
      class="main-page__order-form"
      *ngIf="formService.form as form"
      [formGroup]="form"
      (ngSubmit)="formService.onSubmit()"
    >
      <input
        formControlName="name"
        type="text"
        placeholder="Ваше имя"
        [ngClass]="{
          'is-error':
            form.controls['name'].invalid &&
            (form.controls['name'].touched || formService.formError)
        }"
        inputNoDots
      />
      <input
        formControlName="address"
        type="text"
        placeholder="Адрес доставки"
        [ngClass]="{
          'is-error':
            form.controls['address'].invalid &&
            (form.controls['address'].touched || formService.formError)
        }"
      />
      <input
        formControlName="phone"
        type="number"
        placeholder="Телефон"
        [ngClass]="{
          'is-error':
            form.controls['phone'].invalid &&
            (form.controls['phone'].touched || formService.formError)
        }"
      />

      <button>
        {{ formService.isLoading ? "Подождите..." : "Оформить заказ" }}
      </button>
    </form>

    <img src="./../assets/pizza-slice.jpg" alt="Pizza slice!" />
  </div>
</div>

<div
  class="modal-wrapper animated scale-y-0"
  [ngClass]="{
    'scale-y-1': formService.responseStatus === ResponseStatuses.TRUE
  }"
>
  <img
    src="./../assets/true.png"
    alt="Not Ok"
    class="modal animated opacity-0"
    [ngClass]="{
      'opacity-1': formService.responseStatus === ResponseStatuses.TRUE
    }"
  />
</div>

<div
  class="modal-wrapper animated scale-y-0"
  [ngClass]="{
    'scale-y-1': formService.responseStatus === ResponseStatuses.FALSE
  }"
>
  <img
    src="./../assets/false.png"
    alt="Not Ok"
    class="modal animated opacity-0"
    [ngClass]="{
      'opacity-1': formService.responseStatus === ResponseStatuses.FALSE
    }"
  />
</div>
